# Kotlin 컴파일 결과
*.class
*.jar
*.war
*.ear

# Gradle 빌드 결과
/build/
/.gradle/

# IntelliJ / IDE 설정 파일
.idea/
*.iml
out/

# 캐시, 임시 파일
*.log
*.tmp

# OS 관련 파일
.DS_Store
Thumbs.db

# 환경 변수 파일
.env
.env.*

# kapt (Kotlin Annotation Processing)
kotlin/
kapt/

# VSCode 쓸 경우
.vscode/
